@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div style="position: relative">
    <img src="~/images/zonepima.png" />
    <button type="button" style="position: absolute; top: 30px; left: 30px">125</button>
</div>
